/* style.css */

body {
	font-family: Arial;
	background: #f4f4f4;
	padding: 20px;
}

.resume {
	background: white;
	padding: 20px;
}

.header {
	text-align: center;
}

#img {
	width: 120px;
	height: 120px;
	border-radius: 50%;
}

.section {
	margin-top: 20px;
}

h2 {
	color: blue;
}

table {
	width: 100%;
	border-collapse: collapse;
}

table,
th,
td {
	border: 1px solid black;
}

th,
td {
	padding: 8px;
}

.project {
	border-left: 4px solid blue;
	padding-left: 10px;
	margin-top: 10px;
}